<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="./xmlrpc.php" />
    <title>Rss Feed &#8211; Just another WordPress site</title>
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Rss Feed &raquo; Feed" href="./feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Rss Feed &raquo; Comments Feed" href="./comments/feed/index.html" />
    <meta property="og:title" content="Rss Feed" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Just another WordPress site" />
    <meta property="og:url" content="./" />
    <meta property="og:site_name" content="Rss Feed" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":".\/wp-includes\/js\/wp-emoji-release.min.js"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    
    <link rel='stylesheet' id='wp-block-library-css' href='~/assest/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-theme-css' href='~/assest/wp-includes/css/dist/block-library/theme.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taqyeem-buttons-style-css' href='~/assest/wp-content/plugins/taqyeem-buttons/assets/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='taqyeem-styles-css' href='~/assest/wp-content/themes/jannah/assets/css/taqyeem.css' type='text/css' media='all' />
    <link rel='stylesheet' id='tie-css-styles-css' href='~/assest/wp-content/themes/jannah/assets/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='tie-css-ilightbox-css' href='~/assest/wp-content/themes/jannah/assets/css/ilightbox/dark-skin/skin.css' type='text/css' media='all' />
    <style id='tie-css-ilightbox-inline-css' type='text/css'>
 </style>
    <script type='text/javascript'>
/* <![CDATA[ */
var tie = {"is_rtl":"","ajaxurl":".\/wp-admin\/admin-ajax.php","mobile_menu_active":"true","mobile_menu_top":"","mobile_menu_parent":"","lightbox_all":"true","lightbox_gallery":"true","lightbox_skin":"dark","lightbox_thumb":"horizontal","lightbox_arrows":"true","is_singular":"1","is_sticky_video":"","reading_indicator":"true","lazyload":"","select_share":"true","select_share_twitter":"true","select_share_facebook":"true","select_share_linkedin":"true","select_share_email":"","facebook_app_id":"","twitter_username":"","responsive_tables":"true","ad_blocker_detector":"","sticky_behavior":"upwards","sticky_desktop":"true","sticky_mobile":"true","sticky_mobile_behavior":"default","ajax_loader":"<div class=\"loader-overlay\"><div class=\"spinner-circle\"><\/div><\/div>","type_to_search":"1","lang_no_results":"Nothing Found"};
/* ]]> */
    </script>
    <script type='text/javascript' src='~/assest/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='~/assest/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <link rel='https://api.w.org/' href='~/assest/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="./xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/assest/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.0.3" />
    <link rel="canonical" href="./index.html" />
    <link rel='shortlink' href='./index.html' />
    <link rel="alternate" type="application/json+oembed" href="~/assest/wp-json/oembed/1.0/embed/index.html?url=http%3A%2F%2F%2F" />
    <link rel="alternate" type="text/xml+oembed" href="~/assest/wp-json/oembed/1.0/embed/index.html?url=http%3A%2F%2F%2F&#038;format=xml" />
    <script type='text/javascript'>
/* <![CDATA[ */
var taqyeem = {"ajaxurl":"./wp-admin/admin-ajax.php" , "your_rating":"Your Rating:"};
/* ]]> */
    </script>


    <meta name="generator" content="Jannah 3.1.1" />
    <meta name="theme-color" content="#0088ff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
						WebFontConfig ={
							google:{
								families: ['Poppins:regular,500,600,700:latin']
							}
						};
						(function(){
							var wf   = document.createElement('script');
							wf.src   = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
							wf.type  = 'text/javascript';
							wf.async = 'true';
							var s = document.getElementsByTagName('script')[0];
							s.parentNode.insertBefore(wf, s);
						})();
    </script>
    <script src="~/Js/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
    <script src="~/Js/App.js"></script>
    <script src="~/Js/demoController.js"></script>
    <script src="~/Js/demoService.js"></script>
</head>
<body ng-app="AppModule">
    <nav id="top-nav" class="has-date-breaking-components top-nav header-nav has-breaking-news" aria-label="Secondary Navigation">
        <div class="container">
            <div class="topbar-wrapper">


                <div class="topbar-today-date">
                    <span class="fa fa-clock-o" aria-hidden="true"></span>
                    <strong class="inner-text">Thursday, January 17 2019</strong>
                </div>

                <div class="tie-alignleft">

                    <div class="breaking controls-is-active">
                        <span class="breaking-title">
                            <span class="fa fa-bolt" aria-hidden="true"></span>
                            <span class="breaking-title-text">Trending</span>
                        </span>
                        <ul id="breaking-news-in-header" class="breaking-news" data-type="reveal" data-arrows="true">

                            <li class="news-item">
                                <a href="./one-swallow-does-not-make-the-spring-2/index.html" title="One swallow does not make the spring">One swallow does not make the spring</a>
                            </li>

                            <li class="news-item">
                                <a href="./persuasion-is-often-more-effectual-than-force-2/index.html" title="Persuasion is often more effectual than force">Persuasion is often more effectual than force</a>
                            </li>

                            <li class="news-item">
                                <a href="./spieth-in-danger-of-missing-cut-2/index.html" title="Spieth in danger of missing cut">Spieth in danger of missing cut</a>
                            </li>

                            <li class="news-item">
                                <a href="./hibs-and-ross-county-fans-on-final-4/index.html" title="Hibs and Ross County fans on final">Hibs and Ross County fans on final</a>
                            </li>

                            <li class="news-item">
                                <a href="./tip-of-the-day-that-man-again-2/index.html" title="Tip of the day: That man again">Tip of the day: That man again</a>
                            </li>

                            <li class="news-item">
                                <a href="./hibs-and-ross-county-fans-on-final-3/index.html" title="Hibs and Ross County fans on final">Hibs and Ross County fans on final</a>
                            </li>

                            <li class="news-item">
                                <a href="./xbox-boss-talks-project-scorpio-price-2/index.html" title="Xbox boss talks Project Scorpio price">Xbox boss talks Project Scorpio price</a>
                            </li>

                            <li class="news-item">
                                <a href="./the-future-of-possible-2/index.html" title="The Future Of Possible">The Future Of Possible</a>
                            </li>

                            <li class="news-item">
                                <a href="./knowledge-is-power-2/index.html" title="Knowledge is power">Knowledge is power</a>
                            </li>

                            <li class="news-item">
                                <a href="./after-all-is-said-and-done-more-is-said-than-done-2/index.html" title="After all is said and done, more is said than done">After all is said and done, more is said than done</a>
                            </li>

                        </ul>
                    </div><!-- #breaking /-->
                </div><!-- .tie-alignleft /-->

                <div class="tie-alignright">
                    <ul class="components">
                        <li class="side-aside-nav-icon menu-item custom-menu-link">
                            <a href="#">
                                <span class="fa fa-navicon" aria-hidden="true"></span>
                                <span class="screen-reader-text">Sidebar</span>
                            </a>
                        </li>
                        <li class="popup-login-icon menu-item custom-menu-link">
                            <a href="#" class="lgoin-btn tie-popup-trigger">
                                <span class="fa fa-lock" aria-hidden="true"></span>
                                <span class="screen-reader-text">Log In</span>
                            </a>
                        </li>
                        <li class="random-post-icon menu-item custom-menu-link">
                            <a href="./index.html?random-post=1" class="random-post" title="Random Article" rel="nofollow">
                                <span class="fa fa-random" aria-hidden="true"></span>
                                <span class="screen-reader-text">Random Article</span>
                            </a>
                        </li>
                        <li class="social-icons-item"><a class="social-link  rss-social-icon" title="RSS" rel="nofollow" target="_blank" href="./feed/index.html"><span class="fa fa-rss"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  telegram-social-icon" title="Telegram" rel="nofollow" target="_blank" href="#"><span class="fa fa-paper-plane"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  instagram-social-icon" title="Instagram" rel="nofollow" target="_blank" href="#"><span class="fa fa-instagram"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  youtube-social-icon" title="YouTube" rel="nofollow" target="_blank" href="#"><span class="fa fa-youtube"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  linkedin-social-icon" title="LinkedIn" rel="nofollow" target="_blank" href="#"><span class="fa fa-linkedin"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  pinterest-social-icon" title="Pinterest" rel="nofollow" target="_blank" href="#"><span class="fa fa-pinterest"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  twitter-social-icon" title="Twitter" rel="nofollow" target="_blank" href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  facebook-social-icon" title="Facebook" rel="nofollow" target="_blank" href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="social-icons-item"><a class="social-link  google-social-icon" title="Google+" rel="nofollow" target="_blank" href="#"><span class="fa fa-google-plus"></span></a></li>
                    </ul><!-- Components -->
                </div><!-- .tie-alignright /-->

            </div><!-- .topbar-wrapper /-->
        </div><!-- .container /-->
    </nav><!-- #top-nav /-->
    <div class="container">
        <div class="tie-row logo-row">


            <div class="logo-wrapper">
                <div class="tie-col-md-4 logo-container">
                    <a href="#" id="mobile-menu-icon"><span class="nav-icon"></span></a>
                    <div id="logo" class="image-logo">

                        <a title="Rss Feed" href="./index.html">

                            <img src="~/assest/wp-content/uploads/2019/01/logo.png" alt="Rss Feed" class="logo_normal" width="299" height="49" style="max-height:49px; width: auto;">
                            <img src="~/assest/wp-content/uploads/2019/01/logo.png" alt="Rss Feed" class="logo_2x" width="299" height="49" style="max-height:49px; width: auto;">
                            <h1 class="h1-off">Rss Feed</h1>
                        </a>

                    </div><!-- #logo /-->
                </div><!-- .tie-col /-->
            </div><!-- .logo-wrapper /-->

            <div class="tie-col-md-8 stream-item stream-item-top-wrapper">
                <div class="stream-item-top">
                    <a href="#" title="Buy Jannah Theme" target="_blank" rel="nofollow">
                        <img src="https://placehold.it/728x90" alt="Buy Jannah Theme" width="728" height="90" />
                    </a>
                </div>
            </div><!-- .tie-col /-->
        </div><!-- .tie-row /-->
    </div><!-- .container /-->
    <div class="main-nav-wrapper">
        <nav id="main-nav" data-skin="search-in-main-nav live-search-dark" class="main-nav header-nav live-search-parent" aria-label="Primary Navigation">
            <div class="container">

                <div class="main-menu-wrapper">


                    <div id="menu-components-wrap">


                        <div class="main-menu main-menu-wrap tie-alignleft">
                            <div id="main-nav-menu" class="main-menu header-menu">
                                <ul id="menu-tielabs-main-menu" class="menu" role="menubar">
                                    <li id="menu-item-978" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-978 tie-current-menu"><a href="./index.html">Home</a></li>
                                    <li id="menu-item-979" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-979 mega-menu mega-cat" data-id="2">
                                        <a href="./category/tie-world/index.html">World</a>
                                        <div class="mega-menu-block menu-sub-content">
                                            <div class="mega-menu-content">
                                                <div class="mega-cat-wrapper">
                                                    <ul class="mega-cat-sub-categories cats-vertical">
                                                        <li><a href="#" class="is-active is-loaded mega-sub-cat" data-id="2">All</a></li>
                                                        <li><a href="./category/tie-world/tie-foods/index.html" class="mega-sub-cat" data-id="17">Foods</a></li>
                                                        <li><a href="./category/tie-world/tie-games/index.html" class="mega-sub-cat" data-id="15">Games</a></li>
                                                        <li><a href="./category/tie-world/tie-travel/index.html" class="mega-sub-cat" data-id="11">Travel</a></li>
                                                    </ul>
                                                    <div class="mega-cat-content mega-cat-sub-exists vertical-posts">
                                                        <div class="mega-ajax-content mega-cat-posts-container clearfix">
                                                        </div><!-- .mega-ajax-content -->
                                                    </div><!-- .mega-cat-content -->
                                                </div><!-- .mega-cat-Wrapper -->
                                            </div><!-- .mega-menu-content -->
                                        </div><!-- .mega-menu-block -->
                                    </li>
                                    <li id="menu-item-980" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-980 mega-menu mega-cat" data-id="2">
                                        <a href="./category/tie-world/index.html">World</a>
                                        
                                        <div class="mega-menu-block menu-sub-content">
                                            <div class="mega-menu-content">
                                                <div class="mega-cat-wrapper">
                                                    <ul class="mega-cat-sub-categories cats-horizontal">
                                                        <li><a href="#" class="is-active is-loaded mega-sub-cat" data-id="2">All</a></li>
                                                        <li><a href="./category/tie-world/tie-foods/index.html" class="mega-sub-cat" data-id="17">Foods</a></li>
                                                        <li><a href="./category/tie-world/tie-games/index.html" class="mega-sub-cat" data-id="15">Games</a></li>
                                                        <li><a href="./category/tie-world/tie-travel/index.html" class="mega-sub-cat" data-id="11">Travel</a></li>
                                                    </ul>
                                                    <div class="mega-cat-content mega-cat-sub-exists horizontal-posts">
                                                        <div class="mega-ajax-content mega-cat-posts-container clearfix">
                                                        </div><!-- .mega-ajax-content -->
                                                    </div><!-- .mega-cat-content -->
                                                </div><!-- .mega-cat-Wrapper -->
                                            </div><!-- .mega-menu-content -->
                                        </div><!-- .mega-menu-block -->
                                    </li>
                                    <li id="menu-item-981" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-981 mega-menu mega-recent-featured" data-id="20">
                                        <a href="#/Html">Tech</a>
                                        <div class="mega-menu-block menu-sub-content">
                                            <div class="mega-menu-content">
                                                <div class="mega-ajax-content">
                                                </div><!-- .mega-ajax-content -->
                                            </div><!-- .mega-menu-content -->
                                        </div><!-- .mega-menu-block -->
                                    </li>
                                    <li id="menu-item-982" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-982 menu-item-has-icon mega-menu mega-recent-featured" data-id="21" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                        <a href="./category/tie-life-style/index.html"> <span aria-hidden="true" class="fa fa-coffee"></span> Life Style</a>
                                        <div class="mega-menu-block menu-sub-content">
                                            <ul class="mega-recent-featured-list sub-list">
                                                <li id="menu-item-983" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-983"><a href="./xbox-boss-talks-project-scorpio-price-2/index.html">Xbox boss talks Project Scorpio price</a></li>
                                                <li id="menu-item-984" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-984"><a href="./hibs-and-ross-county-fans-on-final-3/index.html">Hibs and Ross County fans on final</a></li>
                                                <li id="menu-item-985" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-985"><a href="./tip-of-the-day-that-man-again-2/index.html">Tip of the day: That man again</a></li>
                                                <li id="menu-item-986" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-986"><a href="./hibs-and-ross-county-fans-on-final-4/index.html">Hibs and Ross County fans on final</a></li>
                                                <li id="menu-item-987" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-987"><a href="./spieth-in-danger-of-missing-cut-2/index.html">Spieth in danger of missing cut</a></li>
                                            </ul>
                                            <div class="mega-menu-content media-overlay">
                                                <div class="mega-ajax-content">
                                                </div><!-- .mega-ajax-content -->
                                            </div><!-- .mega-menu-content -->
                                        </div><!-- .mega-menu-block -->
                                    </li>
                                    <li id="menu-item-988" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-988 mega-menu mega-links mega-links-4col" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                        <a href="#">More</a>
                                        <div class="mega-menu-block menu-sub-content">
                                            <ul class="sub-menu-columns">
                                                <li id="menu-item-989" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-989 mega-link-column" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                                    <a class="mega-links-head" href="#">Menu Title #1</a>
                                                    <ul class="sub-menu-columns-item">
                                                        <li id="menu-item-990" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-990"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #1</a></li>
                                                        <li id="menu-item-991" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-991"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #2</a></li>
                                                        <li id="menu-item-992" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-992"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #3</a></li>
                                                        <li id="menu-item-993" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-993"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #4</a></li>
                                                        <li id="menu-item-994" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-994"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #5</a></li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-995" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-995 mega-link-column" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                                    <a class="mega-links-head" href="#">Menu Title #2</a>
                                                    <ul class="sub-menu-columns-item">
                                                        <li id="menu-item-996" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-996"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #1</a></li>
                                                        <li id="menu-item-997" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-997"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #2</a></li>
                                                        <li id="menu-item-998" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-998"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #3</a></li>
                                                        <li id="menu-item-999" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-999"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #4</a></li>
                                                        <li id="menu-item-1000" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1000"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #5</a></li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-1001" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1001 mega-link-column" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                                    <a class="mega-links-head" href="#">Menu Title #3</a>
                                                    <ul class="sub-menu-columns-item">
                                                        <li id="menu-item-1002" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1002"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #1</a></li>
                                                        <li id="menu-item-1003" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1003"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #2</a></li>
                                                        <li id="menu-item-1004" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1004"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #3</a></li>
                                                        <li id="menu-item-1005" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1005"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #4</a></li>
                                                        <li id="menu-item-1006" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1006"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #5</a></li>
                                                    </ul>
                                                </li>
                                                <li id="menu-item-1007" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1007 mega-link-column" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                                    <a class="mega-links-head" href="#">Menu Title #4</a>
                                                    <ul class="sub-menu-columns-item">
                                                        <li id="menu-item-1008" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1008"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #1</a></li>
                                                        <li id="menu-item-1009" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1009"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #2</a></li>
                                                        <li id="menu-item-1010" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1010"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #3</a></li>
                                                        <li id="menu-item-1011" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1011"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #4</a></li>
                                                        <li id="menu-item-1012" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1012"><a href="#"> <span aria-hidden="true" class="mega-links-default-icon"></span>Sub Menu #5</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- .mega-menu-block -->
                                    </li>
                                    <li id="menu-item-1013" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1013 menu-item-has-icon is-icon-only"><a title="Buy now!" target="true" href="https://themeforest.net/item/tielabs/19659555?ref=tielabs&#038;utm_source=demo-content&#038;utm_medium=link&#038;utm_campaign=jannah&#038;utm_content=main-menu"> <span aria-hidden="true" class="fa fa-smile-o"></span>  <span class="screen-reader-text">Buy now!</span></a></li>
                                </ul>
                            </div>
                        </div><!-- .main-menu.tie-alignleft /-->

                        <ul class="components">
                            <li class="search-bar menu-item custom-menu-link" aria-label="Search">
                                <form method="get" id="search" action="./index.html">
                                    <input id="search-input" class="is-ajax-search" type="text" name="s" title="Search for" placeholder="Search for" />
                                    <button id="search-submit" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                                </form>
                            </li>
                        </ul><!-- Components -->
                    </div><!-- #menu-components-wrap /-->
                </div><!-- .main-menu-wrapper /-->
            </div><!-- .container /-->
        </nav><!-- #main-nav /-->
    </div><!-- .main-nav-wrapper /-->
    <div>
        @RenderBody()
    </div>
</body>
</html>
